# In this assignment, we will query and clean the Titanic dataset. You can find the dataset in the data_sets folder.

1. Open data in Google Drive, mounted at content/drive. Check the demo code as an example. More info and steps at https://colab.research.google.com/notebooks/io.ipynb

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

2. Load the Titanic data from Titanic.csv

In [2]:
import pandas as pd
TitanicData = pd.read_csv('/content/drive/MyDrive/ISCH 370 Labs/Titanic.csv')

3. Get the overview summary of the data

*   display the first 10 rows of the data
*   display the shape of the record (# of rows and # of columns)

In [19]:
TitanicData.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,NaN,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,NaN,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,NaN,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,NaN,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

4. Only display the columns for Pclass, Age, Sex, and Survived.

In [4]:
TitanicData[["Pclass","Age","Sex","Survived"]]

     Pclass   Age     Sex  Survived
0         3   NaN    male         0
1         1  38.0  female         1
2         3  26.0  female         1
3         1  35.0  female         1
4         3   NaN    male         0
..      ...   ...     ...       ...
886       2  27.0    male         0
887       1  19.0  female         1
888       3   NaN  female         0
889       1  26.0    male         1
890       3  32.0    male         0

[891 rows x 4 columns]

5. Show the records for all female passengers

In [5]:
TitanicData[TitanicData["Sex"]=='female']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,NaN,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,NaN,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

6. Show the records for those passengers that were older than 60.

In [6]:
TitanicData[TitanicData["Age"]>60]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5000,B19,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.5500,C87,S
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
280,281,0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.7500,NaN,Q
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,NaN,S
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S
456,457,0,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.5500,E38,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
545,546,0,1,"Nicholson, Mr. Arthur Ernest",male,64.0,0,0,693,26.0000,NaN,S
555,556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S
570,571,1,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.5000,NaN,S
625,626,0,1,"Sutton, Mr. Frederick",male,61.0,0,0,36963,32.3208,D50,S
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
672,673,0,2,"Mitchell, Mr. Henry Michael",male,70.0,0,0,C.A. 24580,10.5000,NaN,S
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S

7. Show the records for those passengers that were younger than the average age.

Here you need to get the average age first and then do the query

In [21]:
Agemean = TitanicData["Age"].mean()
TitanicData[TitanicData["Age"]<Agemean]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,NaN,NaN,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

8. Show the PassengerIds of the 10 oldest passengers.

In [8]:
SortedData = TitanicData.sort_values(by=["Age"],ascending=False)
SortedData[["PassengerId"]].head(10)

     PassengerId
630          631
851          852
493          494
96            97
116          117
745          746
672          673
33            34
280          281
54            55

## Data Cleaning

9. check how many null values for column 'Age'

In [9]:
TitanicData["Age"].isnull().sum()

180

10. Create a copy of the Titanic dataset so you won't directly change the data. For example, df_copy=df.copy()

After that, working on the new dataset copy, drop the rows where all the elements are missing. Print the shape of the dataframe before and after the cleaning.

In [27]:
TitanicDataCopy = TitanicData.copy()
print("Shape before cleaning:",TitanicDataCopy.shape)
TitanicDataCopy.dropna(axis=0, how = 'all')
print("Shape after cleaning:",TitanicDataCopy.shape)

Shape before cleaning: (891, 12)
Shape after cleaning: (891, 12)

11. Resume the dataset to the original one by creating the new dataframe copy from Titanic dataset. Drop the rows if there are at least 10 columns having null values. Print the shape of the dataframe before and after the cleaning.

In [28]:
TitanicDataCopy = TitanicData.copy()
print("Shape before cleaning:",TitanicDataCopy.shape)
TitanicDataCopy.dropna(inplace = True, thresh = 9)
print("Shape after cleaning:",TitanicDataCopy.shape)

Shape before cleaning: (891, 12)
Shape after cleaning: (891, 12)

12. Resume the dataset to the original one by creating the new dataframe copy from Titanic dataset.
Drop the rows if 'Cabin' has a null value print the shape of the dataframe before and after the cleaning

In [29]:
TitanicDataCopy = TitanicData.copy()
print("Shape before cleaning:",TitanicDataCopy.shape)
TitanicDataCopy.dropna(inplace = True, subset = ['Cabin'])
print("Shape after cleaning:",TitanicDataCopy.shape)

Shape before cleaning: (891, 12)
Shape after cleaning: (204, 12)

 # Fill in the blank

13. Resume the dataset to the origninal one.

Replace the null value of Cabin using its mode, replace the null value of Age using its mean

print the table after the replace

In [13]:
TitanicDataCopy = TitanicData.copy()
Cabinmode = TitanicDataCopy['Cabin'].mode()
Agemean = TitanicDataCopy['Age'].mean()
TitanicDataCopy["Cabin"].fillna(Cabinmode[1],inplace = True)
TitanicDataCopy["Age"].fillna(Agemean,inplace = True)
TitanicDataCopy

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,29.738636,1,0,A/5 21171,7.2500,C23 C25 C27,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,NaN,C23 C25 C27,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,NaN,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,29.738636,0,0,373450,8.0500,C23 C25 C27,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,C23 C25 C27,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.738636,1,2,W./C. 6607,23.4500,C23 C25 C27,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,C23 C25 C27,Q

14. Data integrity: check if the passengerID is unique

In [14]:
TitanicData["PassengerId"].duplicated().any()

False

# Outliers:
15. Define an acceptable range for "Age" and remove the rows falling out of the range ( you can have your own defintion of the normal range)

In [15]:
TitanicDataCopy = TitanicData.copy()
Agestd = TitanicDataCopy['Age'].std()
lowerlimit = Agemean - Agestd
upperlimit = Agemean + Agestd
TitanicDataCopy = TitanicDataCopy.drop(TitanicDataCopy[(TitanicDataCopy.Age<lowerlimit)|(TitanicDataCopy.Age>upperlimit)].index)
TitanicDataCopy

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,NaN,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,NaN,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,NaN,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,NaN,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

16. A valid value for Cabin is a string started with a captalized letter followed by several digits. The pattern is expressived as "^[A-Z][0-9]*$"

Check the first 100 records. Print those records that have invalid Cabin value and then remove them.

In [86]:
TitanicDataCopy = TitanicData.copy()
TitanicDataCopy = TitanicDataCopy.head(100)
#Cabinarray = []
#for n in range(1,100,1):
InvalidCabin = TitanicDataCopy[TitanicDataCopy["Cabin"].str.contains("^[A-Z][0-9]*$") == False]
InvalidCabin

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C

In [83]:
TitanicDataCopy.drop(InvalidCabin["Cabin"].index)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,NaN,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,NaN,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,NaN,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,NaN,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,0,3,"Coxon, Mr. Daniel",male,59.0,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S